.artisan-meta-box-container {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
}

.artisan-meta-group {
    border: 1px solid #ccc;
    background: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.artisan-meta-group:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.artisan-meta-group-title {
    padding: 15px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.artisan-meta-group-title:hover {
    background-color: #e6e6e6;
    color: #333;
}

.artisan-meta-group-title:after {
    content: "▼";
    font-size: 0.9em;
    color: #888;
    transition: transform 0.3s ease;
}

.artisan-meta-group-title.active:after {
    transform: rotate(180deg);
}

.artisan-meta-group-content {
    display: none; /* Hidden by default */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #ddd;
}

.artisan-meta-group-content.open {
    display: block;
    animation: fadeIn 0.4s ease-in-out;
}

.artisan-meta-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.artisan-meta-group input[type="text"],
.artisan-meta-group input[type="email"],
.artisan-meta-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.artisan-meta-group input[type="text"]:focus,
.artisan-meta-group input[type="email"]:focus,
.artisan-meta-group textarea:focus {
    border-color: #888;
    box-shadow: 0 0 5px rgba(136, 136, 136, 0.4);
    outline: none;
}

.artisan-meta-group input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.2);
}


.kz-business-license-admin-preview {
    margin-top: 10px;
    text-align: start;
}

.kz-business-license-admin-preview img {
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.kz-view-license {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #0073aa;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

.kz-view-license:hover {
    background-color: #005177;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
